* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* header */
.head-wrapper a {
  text-decoration: none;
  color: #ffffff;
}

.head-wrapper {
  width: 100%;
  height: 64px;
  background-color: #121212;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
}

.head-wrapper-ul-num-one {
  width: 20vw;
  height: 64px;
  padding: 0px;
  position: absolute;
  top: 28px;
  left: 250px;
}
.head-wrapper-ul-num-two {
  width: 40vw;
  height: 64px;
  padding: 0;
  position: absolute;
  top: 25px;
  right: 80px;
}
.carrito {
  position: absolute;
  top: -10px;
  right: 30px;
}
li {
  display: inline-block;
  height: 64px;
  list-style: none;
  padding: 0 30px;
}

.head-wrapper-logoimg {
  width: auto;
  height: auto;
  position: relative;
  left: 40px;
  top: 25px;
}

/* imagen principal*/
.imagen-principal-wrapper {
  width: 100%;
  height: 659px;
  position: relative;
}
.imagen-principal-wrapper button {
  width: 278px;
  height: 55px;
  position: absolute;
  left: 581px;
  top: 450px;
  border: 3px solid #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.imagen-principal-wrapper h3 {
  position: absolute;
  left: 64px;
  top: 300px;
  color: #ffffff;
  font-size: 40px;
}

.imagen-principal-wrapper img {
  width: 100%;
}
/* productos populares */

.prod-popular {
  position: absolute;
  left: 39%;
}
.prod-popular-wrapper {
  width: 100%;
  position: relative;
  min-height: 700px;
  top: 150px;
}

.prod-popular-wrapper-pant {
  display: inline-block;
  width: 200px;
  position: absolute;
  left: 106px;
}
.prod-popular-wrapper-remera {
  display: inline-block;
  width: 200px;
  position: absolute;
  left: 423px;
}
.prod-popular-wrapper-campera {
  display: inline-block;
  width: 200px;
  position: absolute;
  left: 740px;
}
.prod-popular-wrapper-buzo {
  display: inline-block;
  width: 200px;
  position: absolute;
  left: 1056px;
}
.alinear-texto {
  left: 80px;
  position: absolute;
}
.prod-popular-wrapper-btn {
  width: 300px;
  height: 60px;
  border: 3px solid black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 400px;
  left: 42%;
}
/* oferta verano*/

.oferta-verano {
  background-color: #121212;
  width: 100%;
  height: 670px;
  position: relative;
}
.oferta-verano-img {
  width: 1274px;
  height: 552px;
  left: 34px;
  top: 70px;
  position: absolute;
}
.oferta-verano-btn {
  width: 278px;
  height: 55px;
  position: absolute;
  left: 800px;
  top: 500px;
  border: 3px solid #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 23px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
/*footer*/
.footer-wrapper a {
  text-decoration: none;
  color: #ffffff;
}

.footer-wrapper {
  width: 100%;
  height: 150px;
  background-color: #121212;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  top: 200px;
}
.footer-wrapper-pol {
  position: absolute;
  left: 100px;
  top: 50px;
}
.footer-wrapper-for {
  position: absolute;
  left: 100px;
  top: 100px;
}
.footer-wrapper-ayuda {
  position: absolute;
  left: 300px;
  top: 100px;
}
.footer-wrapper-tyc {
  position: absolute;
  left: 300px;
  top: 50px;
}
.footer-wrapper img {
  width: 20px;
  height: 20px;
}
.insta {
  position: absolute;
  right: 300px;
  top: 50px;
}
.twitter {
  position: absolute;
  right: 320px;
  top: 100px;
}
.facebook {
  position: absolute;
  right: 150px;
  top: 50px;
}
.whatsapp {
  position: absolute;
  right: 150px;
  top: 100px;
}
/* quienes somos */
.about-us-wrapper {
  width: 100%;
  position: relative;
  height: 80vh;
}
.about-us-wrapper h1 {
  position: absolute;
  top: 100px;
  left: 100px;
}
.about-us-wrapper p {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 30%;
}
.about-us-wrapper img {
  position: absolute;
  top: 100px;
  right: 100px;
}
/* contacto */
.contacto-wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
}
.contacto-wrapper-one h1 {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 500px;
}
.contacto-wrapper-input-name {
  position: absolute;
  left: 100px;
  top: 150px;
}
.contacto-wrapper-input-mail {
  position: absolute;
  left: 100px;
  top: 200px;
}
.contacto-wrapper-input-msj {
  position: absolute;
  left: 100px;
  top: 250px;
  width: 400px;
  height: 250px;
}
.contacto-wrapper-input-submit {
  position: absolute;
  left: 413px;
  top: 520px;
  color: #ffffff;
  background-color: #121212;
  border-radius: 2px;
  width: 90px;
  height: 37px;
}
.contacto-wrapper-two {
  position: relative;
}
.contacto-wrapper-two h1 {
  position: absolute;
  top: 100px;
  right: 605px;
}
.contacto-wrapper-two-mapa {
  position: absolute;
  top: 150px;
  right: 100px;
  height: 400px;
}
.contacto-wrapper-two h3 {
  position: absolute;
  top: 565px;
  right: 650px;
}
.contacto-wrapper-two h4 {
  position: absolute;
  top: 595px;
  right: 540px;
}
.telefono-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 565px;
  right: 200px;
}
.contacto-wrapper-two p {
  position: absolute;
  top: 570px;
  right: 100px;
}

/*hombre y mujer*/
.categorias-wrapper {
  position: relative;
  width: 100%;
  height: 160vh;
}
.categorias-wrapper a {
  text-decoration: none;
  color: #121212;
  text-align: center;
  font-size: 24px;
}
.categorias-wrapper img {
  width: 300px;
  height: 400px;
}
.categorias-wrapper-pantalon {
  position: absolute;
  top: 100px;
  left: 100px;
}
.categorias-wrapper-remera {
  position: absolute;
  top: 100px;
  left: 550px;
}
.categorias-wrapper-buzo {
  position: absolute;
  top: 100px;
  left: 1000px;
}
.categorias-wrapper-campera {
  position: absolute;
  top: 650px;
  left: 100px;
}
.categorias-wrapper-calzado {
  position: absolute;
  top: 650px;
  left: 550px;
}
.categorias-wrapper-accesorio {
  position: absolute;
  top: 650px;
  left: 1000px;
}
