* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: none;
}
li {
  list-style: none;
}

/* header */
.head-wrapper a {
  text-decoration: none;
  color: #ffffff;
}
.head-wrapper {
  width: 100%;
  height: auto;
  background-color: #121212;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* dropdowns */

.btn{
  color:  #ffffff !important;
  background-color: #121212 !important;
  border: 0 !important;
}
.dropdown:hover > .dropdown-menu {
  display: block !important;
}
.dropdown-menu{
  background-color: #121212 !important;
  color: #ffffff !important;
  font-size: 12px !important;
}
.dropdown-item{
  transition: 0.2s linear !important;
}
.head-wrapper-ul-num-one {
  width: 20vw;
  height: 64px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.head-wrapper-ul-num-one li {
  margin: 0 5%;
  height: 0px;
}
.head-wrapper-ul-num-two {
  width: 40vw;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.head-wrapper-ul-num-two li {
  margin: 0 5%;
  height: 0px;
}
.carrito {
  align-items: end;
  height: 15px;
}

.head-wrapper-logoimg {
  width: auto;
  height: auto;
}

/* imagen principal*/
.imagen-principal-wrapper {
  width: 100%;
  position: relative;
}
.imagen-principal-wrapper button {
  width: 278px;
  height: 55px;
  border: 3px solid #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  left: 40%;
  top: 80%;
}
.imagen-principal-wrapper-txt {
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  left: 5%;
  top: 50%;
}
.imagen-principal-wrapper-txt-two{
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  left: 5%;
  top: 60%;
}

.imagen-principal-wrapper img {
  width: 100%;
}
/* productos populares */

.prod-popular {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.prod-popular-wrapper {
  width: 90%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 10vh 0vw; 
  margin-left: 5vw;
  margin-right: 5vw;
}

.prod-popular-wrapper-pant {
  width: 200px;
}
.prod-popular-wrapper-remera {
  width: 200px;
}
.prod-popular-wrapper-campera {
  width: 200px;
}
.prod-popular-wrapper-buzo {
  width: 200px;
}
.alinear-texto {
  padding-left: 3vw;
}
.prod-popular-wrapper-btn-w {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.prod-popular-wrapper-btn {
  width: 300px;
  height: 60px;
  border: 3px solid black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  /* justify-content: center; */
}
/* oferta verano*/

.oferta-verano {
  background-color: #121212;
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5vh;
}
.oferta-verano-img {
  width: 90%;
  height: 85vh;
}
.oferta-verano-btn {
  width: 278px;
  height: 55px;
  border: 3px solid #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 23px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 80vh;
}
/* carousel */


.footer-wrapper {
  /* width: 100%; */
  height: 150px;
  background-color: #121212;
  font-size: 14px;
  text-transform: uppercase;
  display: grid;
  grid-template-areas: 
  " area1 area2 area5 area6"
  "area3 area4 area7 area8";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding-left: 10vw;
  padding-top: 3vw;
  column-gap: 5vw;
  row-gap: 5vh;
}

.footer-wrapper img {
  width: 20px;
  height: 20px;
}
.footer-wrapper-pol{
  grid-area: area1;
}
.footer-wrapper-for{
  grid-area: area2;
}
.footer-wrapper-ayuda{
  grid-area: area3;
}
.footer-wrapper-tyc{
  grid-area: area4;
}
.twitter{
  grid-area: area5;
}
.insta{
  grid-area: area6;
}
.facebook{
  grid-area: area7;
}
.whatsapp{
  grid-area: area8;
}
/* este codigo de abajo es para acomodar el texto junto con los logos de cada uno */
.twitter, .insta, .facebook, .whatsapp {
  display: flex;
  align-items: center;
}
.twitter a , .insta a,  .facebook a,  .whatsapp a {
  padding-left: 15px;
}
.footer-wrapper a {
  text-decoration: none;
  color: #ffffff;
}
/* carousel */
.carousel-item img {
  height: 50vh;
  width: 100vw;
}
#carouselExampleInterval{
  width: 100vw;
}



/* quienes somos */
.about-us-wrapper {
  width: 100%;

  height: 80vh;
}
/* .about-us-wrapper h1 {

} */
.about-us-wrapper p {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 30%;
}
.about-us-wrapper img {
  position: absolute;
  top: 100px;
  right: 100px;
}
/* contacto */
.contacto-wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
}
.contacto-wrapper-one h1 {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 500px;
}
.contacto-wrapper-input-name {
  position: absolute;
  left: 100px;
  top: 150px;
}
.contacto-wrapper-input-mail {
  position: absolute;
  left: 100px;
  top: 200px;
}
.contacto-wrapper-input-msj {
  position: absolute;
  left: 100px;
  top: 250px;
  width: 400px;
  height: 250px;
}
.contacto-wrapper-input-submit {
  position: absolute;
  left: 413px;
  top: 520px;
  color: #ffffff;
  background-color: #121212;
  border-radius: 2px;
  width: 90px;
  height: 37px;
}
.contacto-wrapper-two {
  position: relative;
}
.contacto-wrapper-two h1 {
  position: absolute;
  top: 100px;
  right: 605px;
}
.contacto-wrapper-two-mapa {
  position: absolute;
  top: 150px;
  right: 100px;
  height: 400px;
}
.contacto-wrapper-two h3 {
  position: absolute;
  top: 565px;
  right: 650px;
}
.contacto-wrapper-two h4 {
  position: absolute;
  top: 595px;
  right: 540px;
}
.telefono-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 565px;
  right: 200px;
}
.contacto-wrapper-two p {
  position: absolute;
  top: 570px;
  right: 100px;
}

/*hombre y mujer*/
.categorias-wrapper {
  position: relative;
  width: 100%;
  height: 160vh;
}
.categorias-wrapper a {
  text-decoration: none;
  color: #121212;
  text-align: center;
  font-size: 24px;
}
.categorias-wrapper img {
  width: 300px;
  height: 400px;
}
.categorias-wrapper-pantalon {
  position: absolute;
  top: 100px;
  left: 100px;
}
.categorias-wrapper-remera {
  position: absolute;
  top: 100px;
  left: 550px;
}
.categorias-wrapper-buzo {
  position: absolute;
  top: 100px;
  left: 1000px;
}
.categorias-wrapper-campera {
  position: absolute;
  top: 650px;
  left: 100px;
}
.categorias-wrapper-calzado {
  position: absolute;
  top: 650px;
  left: 550px;
}
.categorias-wrapper-accesorio {
  position: absolute;
  top: 650px;
  left: 1000px;
}
